{% extends "tempheader.html" %}

<html>
<head><title>{% block title %}Inspection Report View{% endblock %}</title></head>
<body>

	{% block main %}
	<div id="Notification area"></div>
	<h1>Inspection Report List</h1>

	<table id="table"
		data-search="true"
		data-pagination="true"
		data-show-refresh="true"
		data-show-columns="true"
		data-show-export="true"
		data-filter-control="true">
		<thead>
			<tr>
				<th data-field="state" data-checkbox="true" id="selectall"></th>
				<th data-sortable="true" data-field="pasture_ID">pasture_ID</th>
				<th data-sortable="true" data-field="general_appearance">General Appearance</th>
				<th data-field="live_stock">Live Stock</th>
				<th data-field="date">date</th>
				<th data-field="animal_condition">animal_condition</th>
				<th data-field="fencing">fencing</th>
				<th data-field="access_to_food">access_to_food</th>
				<th data-field="access_to_water">access_to_water</th>
				<th data-field="cleaniness_of_water">cleaniness_of_water</th>
				<th data-field="access_to_shelter">access_to_shelter</th>
				<th data-field="comments">comments</th>
				<th data-field="pasture_major_deficiencies">Major_deficiencies</th>
				<th data-field="pasture_minor_deficiencies" class="w100">Minor_deficiencies</th>
				<th data-field="email_ID">email_ID</th>
				<th data-field="builinding_number">builinding_number</th>
				<th data-field="lighting">lighting</th>
				<th data-field="housekeeping">housekeeping</th>
				<th data-field="head_catch_condition">head_catch_condition</th>
				<th data-field="non_slip_surface_evidence">non_slip_surface_evidence</th>
				<th data-field="Pen_condition">Pen_condition</th>
				<th data-field="container_disposal">container_disposal</th>
				<th data-field="drug_storage">drug_storage</th>
			</tr>
		</thead>
	</table>

	<button type="button" class="btn btn-primary btn-lg" id="Edit">Edit</button>
	<button type="button" class="btn btn-danger btn-lg" id="Delete">Delete</button>
	</div>

	<p>Click on specific report to expand/ View will be added soon</p>
	{% endblock %}

{% block Inspection %} class="panel-collapse collapse in" {% endblock %}
{% block imports %} <script type = "text/javascript" src="{{url_for('static', filename= 'js/inspection_list_scripts.js')}}"></script>{% endblock %}
</body>
</html>
